.container {
    width: 50%;
    margin: 30px auto;
  }
.chatarea {
    height: 80vh;
    background:radial-gradient(80deg,rgba(49, 156, 227, 0.757),rgb(239, 154, 206));
    overflow: scroll;
}
#text{
    resize: none;
}

#send{
  color:bisque;
}
/* 
.right{

    max-width: 100px;
    text-align: right;
    width: auto;
    margin-left: auto;
    margin-right: 8px;
    background-color: aquamarine;
    border-radius: 5px;
    overflow-wrap: break-word;
} */

.right {
    max-width: 300px;
    width: fit-content;
    background: radial-gradient(#eeb7ac 0%, #fdcfa6 51%, #efac9794 100%);
    border-radius: 5px;
    margin-right: 8px;
    overflow-wrap: break-word;
    margin-left: auto;

}

.left{

    width: 100px;
    background-color: rgba(236, 243, 243, 0.779);
    border-radius: 5px;
    margin-left: 8px;
}

.messagearea{
    margin-top: 8px;
}